# R
.Rhistory
.RData
.Rproj.user/
.Ruserdata

# renv
renv/library/
renv/staging/

# Data
data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

outputs/*
!outputs/.gitkeep

# macOS
.DS_Store

# Linux
*~

# Quarto
.quarto/

# ---------------------------------------------------------
# VS Code
# ---------------------------------------------------------

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Output files
*.html
*.pdf

# Temporary files
*.tmp
